body {
	background: url('./../images/prueba.jpg') center;
	background-repeat: no-repeat;
}

h1 {
	text-align: center;
}

.container {
	color: white;
	background-color: hsla(0, 0, 0, 0.75);
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.2rem;
	margin-top: 15rem;
}

.joke-container {
	font-size: 2rem;
}
